html {
  font-size: 1em;

  scroll-behavior: smooth;
}

body {
  color: var(--color-black);
  font-weight: 400;
  font-size: 1rem;
  font-family: Gilroy, sans-serif;
  line-height: 1.125;

  background-color: var(--color-light);
}

#root {
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.main {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  width: 100%;
  max-height: 100vh;
  overflow: hidden auto;
}

.container {
  width: 100%;
  height: 100%;

  margin: 0 auto;
}

.unlimited-container {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none !important;

  visibility: hidden !important;
}

h1 {
  font-weight: 600;
  font-size: 30px;
  font-family: Gilroy, sans-serif;
  line-height: 40px;
  letter-spacing: -0.3px;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  font-family: Gilroy, sans-serif;
  line-height: 32px;
  letter-spacing: -0.48px;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  font-family: Gilroy, sans-serif;
  line-height: 30px;
  letter-spacing: -0.4px;
}

h4 {
  font-weight: 600;
  font-size: 16px;
  font-family: Gilroy, sans-serif;
  line-height: 20px;
  letter-spacing: -0.16px;
}

h5 {
  font-weight: 600;
  font-size: 14px;
  font-family: Gilroy, sans-serif;
  font-style: normal;
  line-height: 20px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
